<h1>Pipes no tan comunes</h1>
<p>Pipe incluidos en Angular, en el Common Module.</p>
<hr>

<div class="grid">
  <div class="col-4">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      <p> Saludos, {{nombre}}, es un placer
        {{genero | i18nSelect: invitacionMap }}
        al evento.</p>
      <button pButton type="button" icon="pi pi-check" iconPos="left" class="p-button-warning"
        icon="pi pi-exclamation-triangle" iconPos="right" label="Cambiar persona" (click)="cambiarNombre()"></button>
    </p-fieldset>
  </div>
  <div class="col-4">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>
        Actualmente {{clientes.length | i18nPlural: clientesMap}} esperando.
      </p>
      <button *ngIf="clientes.length > 0" pButton type="button" class="p-button-danger" icon="pi pi-trash"
        iconPos="right" label="Borrar persona" (click)="eliminarPersona()"></button>
      <button *ngIf="clientes.length == 0" pButton type="button" class="p-button-success" icon="pi pi-plus"
        iconPos="right" label="Agregar 10 personas" (click)="agregarPersonas()"></button>
    </p-fieldset>
  </div>
  <div class="col-4">
    <p-fieldset legend="Splice Pipe" [toggleable]="true">

      <b>Original</b>
      <pre>{{clientes}}</pre>


      <b>Slice:0:2</b>
      <pre>{{clientes | slice:0:2}}</pre>

      <b>Slice:2:8</b>
      <pre>{{clientes | slice:2:8}}</pre>

      <b>Slice:3:3</b>
      <pre>{{clientes | slice:3:3}}</pre>

      <b>Slice:0:6</b>
      <pre>{{"Santiago" | slice:0:5}}</pre>


    </p-fieldset>
  </div>
</div>

<div class="grid">
  <div class="col-4">
    <p-fieldset legend="Keyvalue Pipe" [toggleable]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue">
          <b>{{item.key | titlecase}}:</b> {{item.value}}
        </li>
      </ul>

    </p-fieldset>
  </div>
  <div class="col-4">
    <p-fieldset legend="Json Pipe" [toggleable]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col-4">
    <p-fieldset legend="Async Pipe" [toggleable]="true">
      <pre>Observable -> {{miObservable | async}}</pre>
      <pre>Promise -> {{valorPromesa | async}}</pre>
    </p-fieldset>
  </div>
</div>